name: FastAPI Docker CI

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

jobs:
  build-and-test:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout source code
        uses: actions/checkout@v4

      - name: Build Docker image
        run: |
          docker build -t fastapi-demo .

      - name: Run container
        run: |
          docker run -d -p 8000:8000 --name fastapi-test fastapi-demo
          sleep 5

      - name: Health check
        run: |
          curl -f http://localhost:8000/health

      - name: Stop container
        run: |
          docker rm -f fastapi-test
